.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #222;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 1.5em;
}

.App-header {
  display: flex;
  padding: 0.5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.input-stream {
  width: 100%;
}

.input-stream canvas {
  opacity: 0;
  position: absolute;
}

.barcodeImageContainer {
  width: 100%;
  color: white;
}

.barcodeImagesHeader {
  padding: 0.5em;
}

.barcodeImages {
  display: flex;
  position: absolute;
  overflow-x: scroll;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
